---
import { Image } from "astro:assets";
import sami from "../assets/in-person.webp";
import Layout from "../layouts/Layout.astro";


---


<Layout seo={{title:'About', description: 'Sami xie is dancing right now'}}>
  <Image src={sami} class="round" alt="sami" />
<p>TORONTO — Several Ontario municipalities have turned down the province's offer of strong mayor powers because of concerns either with housing targets the government has tied to them, or worries that the powers would lend themselves to a "dictatorship."
  The Progressive Conservative government has assigned housing targets to 50 municipalities — their portion of the 1.5 million homes that Premier Doug Ford has promised to get built by 2031. Ontario is currently well behind the pace needed to accomplish that goal.
</p></Layout>


