---

interface Props{
  href:string;
  rel?:string;
  isExternal?: boolean;
  class?: string;

}

const {href, rel = '', isExternal, class: classList} = Astro.props;

---


<a href={href} class:list={['hover:text-blue-500 text-black', classList]} rel={`${rel}${isExternal ? 'nofollow noopener external' : ''}`}><slot /></a>


<style>
  li::marker{
    color:#000 !important;
  }
</style>