---
import Link from '../components/Link.astro';
import { SEO, type Props as SEOProps } from 'astro-seo';
import cat from "../assets/cat-nyan-cat.gif";
import { Image } from "astro:assets";

interface Props {
  seo?: SEOProps;
  ogImage?: {
    template: string;
    data?: Record<string, any>;
  }
}


const { seo, ogImage } = Astro.props;

const ogImageUrl = `${Astro.url.origin}/og/${ogImage?.template ?? 'default'}.png?${new URLSearchParams(ogImage?.data)}`;


---

<!doctype html>
<html lang="en" class="bg-background text-text">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
		{...seo}
		title = {seo?.title ?? "Sami Xie"}
		description = {seo?.description ?? "Sami Xie's website"}
		openGraph={{
			basic: {
				type: 'website',
				title: seo?.title ?? "Sami Xie's personal blog site",
				image: ogImageUrl,
				url: seo?.canonical,
			},
		}}
		/>
	</head>
	<body >
		<div class='flex justify-between items-center py-4 md:container md:mx-auto'>
      <header>
				<div class="flex">
        <a href='/' class='font-bold text-2xl hover:text-blue-500 flex-auto'
          >Sami Xie</a><span class="flex-auto logo"><Image src= {cat} alt="sami" width={50} /></span>
				</div>
      </header>
      <nav>
        <ul class='flex gap-4 '>
          <li><Link href='/' class="text-text">Home</Link></li>
          <li><Link href='/about' class="text-text">About</Link></li>
          <li><Link href='/blog/1'class="text-text">Blog</Link></li>
          <li>
            <Link href='https://github.com/tix980' class="text-text" isExternal> GitHub</Link>
          </li>
        </ul>
      </nav>
    </div>
    <main class='flex-1 md:container md:mx-auto'>
      <slot />
    </main>
    <footer class='w-full mx-auto text-center py-4 md:container md:mx-auto'>
      <span>© {new Date().getFullYear()} Sami Xie.</span>
    </footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #f6f6f6;
		background-size: 224px;
	}


	.logo{
		margin-left: 1em;
		margin-top:-0.5em;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


  :root {
    --background: #090a0c;
    --text: #d8dfee;
    --primary: #11c3df;
    --secondary: #07137d;
    --accent: #3bde77;
  }
  .dark {
    --text: #f3f4f6;
    --background: #111827;
    --primary: #22D3EE;
    --secondary: #818CF8;
    --accent: #22c55e;
  }

</style>
